<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    
  {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> #}
       <title>{% block title %} expat-dakar {% endblock %}</title>
       <style>
        *{
        padding: 0;
        margin: 0;
        
    }
       </style>
</head>
<body>

    <div class="container-fluid">
            {# 1er navbar #}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid " id="nav-1">
                <div class=" nav-1-start" >
                    <div class="container">
                        <a class="navbar-brand" href="{{ url_for('home_user') }}">
                        <img src="https://www.expat-dakar.com/assets/ed-site/img/logo-colour.05769328.svg" alt="logo-expat-dakar" width="250" height="50">
                        </a>
                    </div>
                    
                </div>
        <div class="nav-1-block-end">
              
                <div class="nav-1-end">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                        <a class="nav-link ">
                            <button style="background-color: #4980c1;">crédits</button>
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fa-regular fa-bell fa-2xl me-3"style="color: #f0811d;"></i>
                            </a>
                        </li>
                        <li class="nav-item mt-1">    
                            <div class="dropdown">
                                <button onclick="myFunction()" class="dropbtn">
                                    <i class="fa-solid fa-user"></i>
                                </button>
                                <div id="myDropdown" class="dropdown-content">
                                  <a href="#">Compte & Profil</a>
                                  <a href="#">Accueil</a>
                                  <a href="#">Gerer mes annonces</a>
                                  <a href="{{url_for('create_annonce1')}}">Publier une annonces</a>
                                  <a href="#">Mon showroom</a>
                                  <a href="#">Acheter des crédits</a>
                                  <a href="#">Mes favoris</a>
                                  <a href="#">Mes messages</a>
                                  <a href="#">Mes discussions</a>
                                  <a href="#">Gerer mes alertes</a>
                                  <a href="#">Mes Profils et CV</a>
                                  <a href="{{url_for('logout')}}">Deconnexion</a>
                                </div>
                            </div>                 
                                
                        </li>

                    </ul>

                </div>
        </div>
        </div>
        
    </nav>
  {# 2ieme navbar #}
        <div class="py-5 row nav container-fluid d-flex " id="nav-2">
            <div class="col-8 text-white" style="margin-top: -40px;">
                <h4>Tableau de bord</h4>
            </div>
            <div class="col-2 " style="margin-top: -40px;">
            <a href="" class="text-decoration-none">
                <h5 class="text-white">
                    MES FAVORIS
                    <span class="rounded-circle   px-2 bg-white" >
                        <i class="fa-solid fa-0 " style="color: #f0811d;"></i>
                    </span>
                </h5>
            </a>
            </div>
            <div class="col-2  " style="margin-top: -40px;">
                <a href="" class="text-decoration-none">
                    <h5 class="text-white">
                        CREDITS
                        <span class="rounded-circle   px-2 bg-white" >
                            <i class="fa-solid fa-0 " style="color: #f0811d;"></i>
                        </span>
                    </h5>
                </a>
            </div>
            
        </div>  
        {% block create_annonce %}
            <div class=" container border border-2 ">
                {# icon step #}
                <div class="row">
                    <div class="col d-flex flex-column">
                        <span class=" px-2 text-white">
                            <i class="fa-solid fa-0 p-3 rounded-circle"
                             style="background-color: #f0811d;"></i>
                        </span>
                    </div>
                    <div class="col d-flex flex-column">
                        <span class=" px-2 text-white d-flex justify-content-center">
                            <i class="fa-solid fa-0 p-3 rounded-circle "
                             style="background-color: #f0811d;"></i>
                        </span>
                    </div>
                    <div class="col d-flex flex-column">
                        <span class=" px-2 text-white d-flex justify-content-center">
                            <i class="fa-solid fa-0 p-3 rounded-circle "
                             style="background-color: #f0811d;"></i>
                        </span>
                    </div>
                    <div class="col d-flex flex-column">
                        <span class=" px-2 text-white d-flex justify-content-center">
                            <i class="fa-solid fa-0 p-3 rounded-circle "
                             style="background-color: #f1f1f1;"></i>
                        </span>
                    </div>
                    <div class="col d-flex flex-column">
                        <span class=" px-2 text-white d-flex justify-content-end">
                            <i class="fa-solid fa-0 p-3 rounded-circle "
                             style="background-color: #f1f1f1;"></i>
                        </span>
                    </div>
                </div>
                {#  step limit color #}
                <div class="row mt-5"
                style="background-color: #f1f1f1;height:15px;">
                <div class="col-9 d-flex flex-column rounded-1 rounded-pill "
                style="background-color: #f0811d;height:15px;" >
                    
                    </div>
                </div>
                {# content middle text #}
                <div class="row mt-3">
                    <div class="col-6 border-3 border-end">
                        <div class="row">
                            <div class="col-12 pt-5">
                                <h5 class="text-center">Sélectionnez une catégorie</h5>
                            </div>
                            <div class="col-12">
                                <p class="text-center">
                                    Remplissez toutes les informations nécessaires qui rendront votre annonce <br>
                                     intéressante et unique.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-12">
                             <select name="categories" id="categories" disabled class="form-select" aria-label="Default select example">
                                <option value="{{'categories'}}" selected>{{categories}}</option>
                             </select>  
                            </div>
                        </div>
                    </div>
                    {# partie droite  #}
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 pt-5">
                                <h5 class="text-center">
                                    <i class="fa-sharp fa-solid fa-square-2"></i>
                                    Télécharger des photos de votre annonce
                                </h5>
                            </div>
                            <div class="col-12">
                                <p class="text-center">
                                    Une annonce avec une image de qualité obtient plus de visibilité et<br>
                                     augmente vos chances de vendre plus rapidement. <br>
                                    Les annonces avec photo attirent 5 fois plus de clients.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <h6>
                                    <span  style="color: #f0811d;">
                                        2
                                    </span> 
                                    Téléchargez des photos de votre annonce
                                </h6>
                            </div>
                           <form action="" class="mb-5">  
                              <img src="{{'images'}}" alt="">                            
                            
                           </form>
                        </div>
                    </div>
                </div>
                   {# partie annonce #}
                <div class="row mt-5 border-top">
                    <div class="d-flex justify-content-center flex-column text-center mt-5">
                      <h5>Détails de l'annonce</h5>
                      <h6>
                        <span  style="color: #f0811d;">
                          3
                      </span> 
                      Mettez en valeur votre annonce ! Plus il y a de détails, plus votre futur acheteur vous trouvera rapidement
                    </h6>
                    </div>
                  </div>
                 
                    {# formulaire  #}
                 <form action="" enctype="multipart/form-data">
                  <div class="row">
                    <div class="col-6">
                      {# titre #}
                        <div class="row d-flex justify-content-center">
                          <label for="titre">Titre *</label>
                          <input type="text" name="titre" id="titre" required
                          class="py-2 border-0 w-75"style="background-color:#e9ecef;">
                        </div>
                        {# prix #}
                        <div class="row d-flex justify-content-center mt-5">
                          <label for="prix">Prix *</label>
                          <input type="number" name="prix" id="prix" required
                          class="py-2 border-0 w-75"style="background-color:#e9ecef;">
                        </div>
                      </div>
                    {# partie droite #}
                      <div class="col-6">
                          <div class="row d-flex justify-content-center">
                            <label for="prix">description *</label>
                            <p>
                             <small>
                              Détaillez ici votre article. N’indiquez pas vos coordonnées
                              (e-mail, téléphones, …) dans la description.
                             </small>
                              </p>
                              <textarea name="description" id="description" cols="30" rows="10" required
                              class="py-2 border-0 w-75"style="background-color:#e9ecef;"></textarea>
                           
                          </div>
                    </div>
                </div>
                      {# partie adresse #}
                      <div class="row mt-5 border-top">
                        <div class="d-flex justify-content-center flex-column text-center mt-5">
                          <h5>Détails de l'adresse</h5>
                          <h6>
                            Dites-nous où vous vous trouvez
                        </h6>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-6">
                          {# titre #}
                            <div class="row d-flex justify-content-center">
                              <label for="region">Region/ville *</label>
                              <select class="form-select" name="region" aria-label="Default select example">
                                <option selected></option>
                                <option value="dakar">Dakar</option>
                                <option value="diourbel">Diourbel</option>
                                <option value="fatick">Fatick</option>
                                <option value="kaolack">Kaolack</option>
                                <option value="kolda">Kolda</option>
                                <option value="louga">Louga</option>
                                <option value="matam">Matam</option>
                                <option value="saint-louis">Saint-Louis</option>
                                <option value="sedhiou">Sédhiou</option>
                                <option value="tambacounda">Tambacounda</option>
                                <option value="thies">Thiès</option>
                                <option value="kaffrine">Kaffrine</option>
                                <option value="kédougou">Kédougou</option>
                                <option value="ziguinchor">Ziguinchor</option>
                              </select>
                            </div>
                           
                          </div>
                        {# partie droite #}
                          <div class="col-6">
                              <div class="row d-flex justify-content-center ms-3">
                                <label for="livraison"> Livraison offerte</label>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="livraison" id="flexRadioDefault1">
                                  <label class="form-check-label" for="flexRadioDefault1">
                                    Non
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="livraison" id="flexRadioDefault2" checked>
                                  <label class="form-check-label" for="flexRadioDefault2">
                                    N/A
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="livraison" id="flexRadioDefault2" checked>
                                  <label class="form-check-label" for="flexRadioDefault2">
                                    Oui
                                  </label>
                                </div>
                               
                              </div>
                        </div>
                    </div>
                    {# boutton #}
                    <div class="row mt-3 mb-2">
                      <p class="d-flex justify-content-center">
                        <span  style="color: #f0811d;">
                         <strong> *</strong>
                      </span>
                      Indique une fonctionnalité ou un champ qui n'est disponible que sur les annonces premium.
                      </p>
                      <div class="d-flex justify-content-center">
                        <input type="submit" value="Precedent" class="mb-2 text-white border-0 px-5 py-2 me-3"
                        style="background-color: #487fc1;">
                       <input type="submit" value="Suivant" class="mb-2 text-white border-0 px-5 py-2"
                        style="background-color: #f0811d;">
                      </div>
                    </div>
                 </form>
                </div>
            </div>

            
        {% endblock create_annonce %}
    </div>
    {% block footer %}
    <div class="row">
        
        <footer class="bg-light text-center">
            <!-- Grid container -->
            <div class="container-fluid all-form p-4 pb-0">
              <!-- Section: Form -->
              <section class="">
                <form action="">
                  <!--Grid row-->
                  <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                      <h5 class="text-light">Restez informés avec notre newsletter</h5>
                      <h6 class="text-light">Recevez notre sélection hebdomadaire des meilleures offres !</h6>
                     
                      
                    </div>
                    <!--Grid column-->
          
                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <input type="email" id="form5Example27" class="form-control" placeholder="adresse email" />
                      </div>
                    </div>
                    <!--Grid column-->
          
                    <!--Grid column-->
                    <div class="col-auto">
                      <!-- Submit button -->
                      <button type="submit" class="btn btn-primary mb-4">
                        je m'abonne
                      </button>
                    </div>
                    <!--Grid column-->
                  </div>
                  <!--Grid row-->
                </form>
              </section>
              <!-- Section: Form -->
            </div>
            <!-- Grid container -->
    
    
    <!-- Section: Links  -->
    <section class="all-block">
    <div class="container text-center text-md-start mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-sm-6 ">
        <!-- Content -->
       <div class="row table-1">
            <table class="table  table-borderless">
                  <tbody>
                    <tr>
                      
                      <td>
                        <a class="text-decoration-none text-light" href="#">Qui sommes-nous ?</a>
                      </td>
                      <td>
                        <a class="text-decoration-none text-light" href="#">Contact</a>
                      </td>
                      <td>
                        <a class="text-decoration-none text-light"  href="#">Vendre en ligne</a>
                      </td>
                    </tr>
                    <tr>
                   
                      <td >
                        <a class="text-decoration-none text-light"  href="#">Deals</a>
                      </td>
                      <td >
                        <a class="text-decoration-none text-light"  href="#">Blog</a>
                      </td>
                      <td>
                        <a class="text-decoration-none text-light"  href="#">Conditions et Charte d'utilisation</a>
                      </td>
                      
                     
                    </tr>
                    <tr>
                        <td colspan="3">
                            <a class="text-decoration-none text-light"  href="#">Les Boutiques</a>
                        </td>
                    </tr>
                  </tbody>    
            </table>
        
      </div>
      <div class="row table-1">
        <h6 class="text text-center">SITES INTERNATIONAUX</h6>
        <hr>
        <table class=" table table-bordeless">
           
                <tr>
                      
                    <td>
                      <a class="text-decoration-none text-light"  href="#">ROAM</a>
                    </td>
                    <td>
                      <a class="text-decoration-none text-light"  href="#">Qefira</a>
                    </td>
                    <td>
                      <a class="text-decoration-none text-light"  href="#">Pigiame</a>
                    </td>
                  </tr>
           
        </table>
      </div>
      </div>
      <!-- Grid column -->
    
      <!-- Grid column -->
      <div class="col-sm-3 ">
        <!-- Links -->
        <h6 class="text-uppercase text-center">
            TÉLÉCHARGEZ NOTRE APPLI
        </h6>
        <hr>
        <a href="https://play.google.com/store/apps/details?id=com.expat_dakar&pli=1">
            <img src="https://www.expat-dakar.com/assets/ed-site/img/app-badge/google/fr.49bcd27f.svg" alt="play store">
        </a>
      </div>
      <!-- Grid column -->
    
      <!-- Grid column -->
    
      <!-- Grid column -->
      <div class="col-sm-3 ">
        <!-- Links -->
        <h6 class="text-uppercase text-center">SUIVRE EXPAT-DAKAR</h6>
        <hr>
       <div class="social-media">
        <a href="" class="me-4 link-secondary">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fa-brands fa-twitter"></i>
        </a>
        
        <a href="" class="me-4 link-secondary">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    
        </div>
        
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    </div>
    </section>
    <!-- Section: Links  -->
    
    
          
            <!-- Copyright -->
            <div class="text-start p-3" style="background-color: black; color:white;">
                Tous droits réservés © 2016-2023 Expat-Dakar
            </div>
            <!-- Copyright -->
          </footer>
    
    
        </div>
    
    {% endblock footer %}
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="">
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
          }       
          // Close the dropdown menu if the user clicks outside of it   
          window.onclick = function(event) {

            if (!event.target.matches('.dropbtn')) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                }
              }
            }
          }
        // Supprimer un fichier du serveur
function deleteFile(filename) {
    $.ajax({
      url: '/delete/' + filename,
      type: 'DELETE',
      success: function(result) {
        // Mettre à jour l'affichage après suppression du fichier
      }
    });
  }
  
  // Attacher un écouteur d'événements pour chaque bouton de suppression
  $('.delete-button').click(function() {
    var filename = $(this).data('filename');
    deleteFile(filename);
    $(this).parent().remove(); // Supprimer le conteneur de l'image et du bouton
  });
    </script>
    <script src="https://kit.fontawesome.com/6bb0a03e98.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
</body>
</html>