<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    
  {# <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> #}
       <title>{% block title %} expat-dakar {% endblock %}</title>
       <style>
        *{
        padding: 0;
        margin: 0;
        
    }
       </style>
</head>
<body>

    <div class="container-fluid">
            {# 1er navbar #}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid " id="nav-1">
                <div class=" nav-1-start" >
                    <div class="container">
                        <a class="navbar-brand" href="{{ url_for('home_user') }}">
                        <img src="https://www.expat-dakar.com/assets/ed-site/img/logo-colour.05769328.svg" alt="logo-expat-dakar" width="250" height="50">
                        </a>
                    </div>
                    
                </div>
        <div class="nav-1-block-end">
              
                <div class="nav-1-end">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                        <li class="nav-item">
                        <a class="nav-link ">
                            <button style="background-color: #4980c1;">crédits</button>
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="fa-regular fa-bell fa-2xl me-3"style="color: #f0811d;"></i>
                            </a>
                        </li>
                        <li class="nav-item mt-1">    
                            <div class="dropdown">
                                <button onclick="myFunction()" class="dropbtn">
                                    <i class="fa-solid fa-user"></i>
                                </button>
                                <div id="myDropdown" class="dropdown-content">
                                  <a href="#">Compte & Profil</a>
                                  <a href="#">Accueil</a>
                                  <a href="#">Gerer mes annonces</a>
                                  <a href="{{url_for('create_annonce1')}}">Publier une annonces</a>
                                  <a href="#">Mon showroom</a>
                                  <a href="#">Acheter des crédits</a>
                                  <a href="#">Mes favoris</a>
                                  <a href="#">Mes messages</a>
                                  <a href="#">Mes discussions</a>
                                  <a href="#">Gerer mes alertes</a>
                                  <a href="#">Mes Profils et CV</a>
                                  <a href="{{url_for('logout')}}">Deconnexion</a>
                                </div>
                            </div>                 
                                
                        </li>

                    </ul>

                </div>
        </div>
        </div>
        
    </nav>
  {# 2ieme navbar #}
        <div class="py-5 row nav container-fluid d-flex " id="nav-2">
            <div class="col-8 text-white" style="margin-top: -40px;">
                <h4>Tableau de bord</h4>
            </div>
            <div class="col-2 " style="margin-top: -40px;">
            <a href="" class="text-decoration-none">
                <h5 class="text-white">
                    MES FAVORIS
                    <span class="rounded-circle   px-2 bg-white" >
                        <i class="fa-solid fa-0 " style="color: #f0811d;"></i>
                    </span>
                </h5>
            </a>
            </div>
            <div class="col-2  " style="margin-top: -40px;">
                <a href="" class="text-decoration-none">
                    <h5 class="text-white">
                        CREDITS
                        <span class="rounded-circle   px-2 bg-white" >
                            <i class="fa-solid fa-0 " style="color: #f0811d;"></i>
                        </span>
                    </h5>
                </a>
            </div>
            
        </div>  
        {% block create_annonce %}
            <div class=" container border border-2 ">
                {# icon step #}
                <div class="row">
                    <div class="col d-flex flex-column">
                        <span class=" px-2 text-white">
                            <i class="fa-solid fa-0 p-3 rounded-circle"
                             style="background-color: #f0811d;"></i>
                        </span>
                    </div>
                    <div class="col d-flex flex-column">
                        <span class=" px-2 text-white d-flex justify-content-center">
                            <i class="fa-solid fa-0 p-3 rounded-circle "
                             style="background-color: #f0811d;"></i>
                        </span>
                    </div>
                    <div class="col d-flex flex-column">
                        <span class=" px-2 text-white d-flex justify-content-center">
                            <i class="fa-solid fa-0 p-3 rounded-circle "
                             style="background-color: #f0811d;"></i>
                        </span>
                    </div>
                    <div class="col d-flex flex-column">
                        <span class=" px-2 text-white d-flex justify-content-center">
                            <i class="fa-solid fa-0 p-3 rounded-circle "
                             style="background-color: #f0811d;"></i>
                        </span>
                    </div>
                    <div class="col d-flex flex-column">
                        <span class=" px-2 text-white d-flex justify-content-end">
                            <i class="fa-solid fa-0 p-3 rounded-circle "
                             style="background-color: #f0811d;"></i>
                        </span>
                    </div>
                </div>
                {#  step limit color #}
                <div class="row mt-5"
                style="background-color: #f1f1f1;height:15px;">
                <div class="col-12 d-flex flex-column rounded-1 rounded-pill "
                style="background-color: #f0811d;height:15px;" >
                    
                    </div>
                </div>
                {# content  text #}
                <div class="row mt-3">
                    <div class="row d-flex justify-content-center text-center">
                        <h5 class="mt-3">Approbation des annonces</h5>
                        <p class="mt-2">Voici un aperçu de la manière dont votre annonce apparaîtra dans les résultats de recherche.</p>
                    </div>
                    {# partie apercu  #}
                   <div class="row mt-3 d-flex justify-content-center flex-column align-items-center ms-1"
                   style="background-color: #f1f1f1;">
                        <div class="col-6 mb-3 mt-5">
                            <a href="" class="text-black text-decoration-none">
                                <div class="card mb-3">
                                    <div class="row g-0">
                                      <div class="col-md-4 d-flex  align-items-center justify-content-start">
                                        <img src="https://i.roamcdn.net/hz/ed/listing-thumb-360w/0a2c6216c26efd3e9c5b9ca6ab48ba81/-/horizon-files-prod/ed/picture/migrated/q2k2m4k/bfcb5e53c1a25a616267735b22bdb25922bd8506.jpg" 
                                        class="w-75" alt="">
                                      </div>
                                      <div class="col-md-8">
                                        <div class="card-body">
                                          <h6 class="card-title m-0">Appartement meublé F3 Yoff Almadies</h6>
                                         
                                          <p class="card-text m-0">
                                           <small>
                                            <i class="fa-solid fa-location-dot"></i>
                                            ngor,Dakar
                                           </small>
                                          </p>
                                          <p class="card-text m-0"><small class="text-muted">Hier, 22H53 </small></p>
                                        </div><div class="row d-flex">
                                            <div class="col">
                                                <h5 class="card-title">45 000 F Cfa</h5>
                                            </div>
                                        
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </a>
                        </div>
                        <div class="col-3 ">
                            <a href="#"class="w-100 h-75 py-4 px-3 d-flex justify-content-center align-items-center text-decoration-none" 
                            style="color: #f0811d;height:15px;
                            border:#f0811d solid 2px; ">
                            <div class="mt-3"
                            style="color: #f0811d;">
                                    Apecu de l'annonce
                            </div>
                            </a>
                          
                        </div>
                   </div>
                </div>
             
            </div>

            
        {% endblock create_annonce %}
    </div>
    {% block footer %}
    <div class="row mt-3">
        
        <footer class="bg-light text-center">
            <!-- Grid container -->
            <div class="container-fluid all-form p-4 pb-0">
              <!-- Section: Form -->
              <section class="">
                <form action="">
                  <!--Grid row-->
                  <div class="row d-flex justify-content-center">
                    <!--Grid column-->
                    <div class="col-auto">
                      <h5 class="text-light">Restez informés avec notre newsletter</h5>
                      <h6 class="text-light">Recevez notre sélection hebdomadaire des meilleures offres !</h6>
                     
                      
                    </div>
                    <!--Grid column-->
          
                    <!--Grid column-->
                    <div class="col-md-5 col-12">
                      <!-- Email input -->
                      <div class="form-outline mb-4">
                        <input type="email" id="form5Example27" class="form-control" placeholder="adresse email" />
                      </div>
                    </div>
                    <!--Grid column-->
          
                    <!--Grid column-->
                    <div class="col-auto">
                      <!-- Submit button -->
                      <button type="submit" class="btn btn-primary mb-4">
                        je m'abonne
                      </button>
                    </div>
                    <!--Grid column-->
                  </div>
                  <!--Grid row-->
                </form>
              </section>
              <!-- Section: Form -->
            </div>
            <!-- Grid container -->
    
    
    <!-- Section: Links  -->
    <section class="all-block">
    <div class="container text-center text-md-start mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-sm-6 ">
        <!-- Content -->
       <div class="row table-1">
            <table class="table  table-borderless">
                  <tbody>
                    <tr>
                      
                      <td>
                        <a class="text-decoration-none text-light" href="#">Qui sommes-nous ?</a>
                      </td>
                      <td>
                        <a class="text-decoration-none text-light" href="#">Contact</a>
                      </td>
                      <td>
                        <a class="text-decoration-none text-light"  href="#">Vendre en ligne</a>
                      </td>
                    </tr>
                    <tr>
                   
                      <td >
                        <a class="text-decoration-none text-light"  href="#">Deals</a>
                      </td>
                      <td >
                        <a class="text-decoration-none text-light"  href="#">Blog</a>
                      </td>
                      <td>
                        <a class="text-decoration-none text-light"  href="#">Conditions et Charte d'utilisation</a>
                      </td>
                      
                     
                    </tr>
                    <tr>
                        <td colspan="3">
                            <a class="text-decoration-none text-light"  href="#">Les Boutiques</a>
                        </td>
                    </tr>
                  </tbody>    
            </table>
        
      </div>
      <div class="row table-1">
        <h6 class="text text-center">SITES INTERNATIONAUX</h6>
        <hr>
        <table class=" table table-bordeless">
           
                <tr>
                      
                    <td>
                      <a class="text-decoration-none text-light"  href="#">ROAM</a>
                    </td>
                    <td>
                      <a class="text-decoration-none text-light"  href="#">Qefira</a>
                    </td>
                    <td>
                      <a class="text-decoration-none text-light"  href="#">Pigiame</a>
                    </td>
                  </tr>
           
        </table>
      </div>
      </div>
      <!-- Grid column -->
    
      <!-- Grid column -->
      <div class="col-sm-3 ">
        <!-- Links -->
        <h6 class="text-uppercase text-center">
            TÉLÉCHARGEZ NOTRE APPLI
        </h6>
        <hr>
        <a href="https://play.google.com/store/apps/details?id=com.expat_dakar&pli=1">
            <img src="https://www.expat-dakar.com/assets/ed-site/img/app-badge/google/fr.49bcd27f.svg" alt="play store">
        </a>
      </div>
      <!-- Grid column -->
    
      <!-- Grid column -->
    
      <!-- Grid column -->
      <div class="col-sm-3 ">
        <!-- Links -->
        <h6 class="text-uppercase text-center">SUIVRE EXPAT-DAKAR</h6>
        <hr>
       <div class="social-media">
        <a href="" class="me-4 link-secondary">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fa-brands fa-twitter"></i>
        </a>
        
        <a href="" class="me-4 link-secondary">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-secondary">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    
        </div>
        
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    </div>
    </section>
    <!-- Section: Links  -->
    
    
          
            <!-- Copyright -->
            <div class="text-start p-3" style="background-color: black; color:white;">
                Tous droits réservés © 2016-2023 Expat-Dakar
            </div>
            <!-- Copyright -->
          </footer>
    
    
        </div>
    
    {% endblock footer %}
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="">
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
          }       
          // Close the dropdown menu if the user clicks outside of it
          window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                }
              }
            }
          }
    </script>
    <script src="https://kit.fontawesome.com/6bb0a03e98.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
</body>
</html>