{% extends "base/base_user.html" %}

{% block title %}
 | accueil
{% endblock  %}

{% block content_user %}
<div class="container-fluid">
    <div class="row">
      <img src="https://i.roamcdn.net/hz/ed/hero-banner-1240w-378h/352c09193a8b7c3b0bd14fe7ca2b2161/-/horizon-files-prod/ed/hero_banner_image/qyg9k3/2df5d7fb5d6d90ff5331cd891eb2ccdc179cdac6.png" 
        class="img-fluid" alt="...">
    </div>
    <div class="row slog-home">
        <h4>Tout acheter, tout vendre, tout simplement</h4>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-sm-11 top-annonces">
                <h4>Top annonces</h4>

            </div>
            <div class="col-sm-1 arrow-block ">
                    <div>
                        <h6 class="tout-voir"> Tout voir</h6> 

                    </div>
                   <div>
                       <button class="btn-arrow"><</button>
                       <button class="btn-arrow">></button>
                   </div>
            </div>
        </div>
        {# card slide  #}
        <div class="row ">
           <div class="col-sm-2">
            <div class="card" >
                <img src="https://plus.unsplash.com/premium_photo-1672281064814-b3020d0bf2da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                 class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">libelle</h5>
                  <h6  class="">prix</h6>
                </div>
            </div>
           </div>
           <div class="col-sm-2">
            <div class="card" >
                <img src="https://plus.unsplash.com/premium_photo-1672281064814-b3020d0bf2da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                 class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">libelle</h5>
                  <h6  class="">prix</h6>
                </div>
            </div>
           </div>
           <div class="col-sm-2">
            <div class="card">
                <img src="https://plus.unsplash.com/premium_photo-1672281064814-b3020d0bf2da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                 class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">libelle</h5>
                  <h6  class="">prix</h6>
                </div>
            </div>
           </div>
           <div class="col-sm-2">
            <div class="card" >
                <img src="https://plus.unsplash.com/premium_photo-1672281064814-b3020d0bf2da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                 class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">libelle</h5>
                  <h6  class="">prix</h6>
                </div>
            </div>
           </div>
           <div class="col-sm-2">
            <div class="card" >
                <img src="https://plus.unsplash.com/premium_photo-1672281064814-b3020d0bf2da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                 class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">libelle</h5>
                  <h6  class="">prix</h6>
                </div>
            </div>
           </div>
           <div class="col-sm-2">
            <div class="card" >
                <img src="https://plus.unsplash.com/premium_photo-1672281064814-b3020d0bf2da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                 class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">libelle</h5>
                  <h6  class="">prix</h6>
                </div>
            </div>
           </div>
          
       </div>
       <div class="row rim-sn-block">
        <a href="https://www.rimsenegal.com/" target="_blank">
            <img src="https://i.roamcdn.net/sdc-bn/default/58317cd236f36059667cd6d7adf4ef45/c5033df302c3d6cc6aa985f6a46ae697/-/cde-bn-production/client-8/tnCqiCTFrSPZxtcTVv8HtIMAImYU6YrzuzaRinTD.gif"
            class="rim-sn-link" alt="">
        </a>
       </div>
       
    </div>
    {# boutiques  #}
    <div class="row categories-list">
        <div class="row">
            <div class="col-sm-12 top-categories">
                <h4>Catégories</h4>

                    <div class="tout-voir-categories">
                       <a href="#">
                        <h6 class="tout-voir"> Tout voir</h6>
                       </a> 

                    </div>
                   
            </div>
        </div>
        {# ligne 1 #}
        <div class="row categories-list ">
                <div class="col-sm-3">
                    
                    <div class="card">
                        <div class="card-body"> 
                                <div class="text-icon">
                                    <a href="#">    
                                        <i class="fa-solid fa-car icon"></i>
                                        <h5 class="card-title">Véhicules</h5>
                                    </a>
                                </div>
                           
                          <h6 class="card-subtitle mb-2 text-muted"><a href="#">Voitures</a></h6>
                          <h6 class="card-subtitle mb-2 text-muted"><a href="#">Motos & scooters</a></h6>
                          <h6 class="card-subtitle mb-2 text-muted"><a href="#">Location de voiture</a></h6>
                          <h6 class="card-subtitle mb-2 text-muted"><a href="#"></a>Équipements & pièces</h6>
                          <h6 class="card-subtitle mb-2 text-muted"><a href="#">Camions & semi-remorques</a></h6>
                          <a href="#" class="card-link tout-parcourir">Tout parcourir</a>
                          <a href="#" class="card-link nbr-articles">1000</a>
                        </div>
                      </div>
               </div>
                <div class="col-sm-3">
                    
                    <div class="card">
                        <div class="card-body"> 
                                <div class="text-icon">
                                    <a href="#">
                                        <i class="fa-solid fa-bag-shopping icon"></i>
                                        <h5 class="card-title">Offres d'emploi</h5>
                                    </a>
                                </div>
                           
                          <h6 class="card-subtitle mb-2 text-muted"><a href="#">Emploi vente et commercial</a></h6>
                          <h6 class="card-subtitle mb-2 text-muted"><a href="#">Emploi marketing et communication</a></h6>
                          <h6 class="card-subtitle mb-2 text-muted"><a href="#">Emploi services à la personne</a></h6>
                          <h6 class="card-subtitle mb-2 text-muted"><a href="#">Emploi transport et logistique</a></h6>
                          <h6 class="card-subtitle mb-2 text-muted"><a href="#">Emploi médical et santé</a></h6>
                          <a href="#" class="card-link tout-parcourir">Tout parcourir</a>
                          <a href="#" class="card-link nbr-articles">1000</a>
                        </div>
                      </div>
               </div>
                <div class="col-sm-3">
                    
                    <div class="card">
                        <div class="card-body"> 
                                <div class="text-icon">
                                    <a href="#">
                                        
                                        <i class="fa-solid fa-house icon"></i>
                                        <h5 class="card-title">Immobilier</h5>
                                    </a>
                                </div>      
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Appartements à louer</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Appartements meublés</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Terrains à vendre</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Maisons à vendre</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Maisons à louer</a></h6>           
                          <a href="#" class="card-link tout-parcourir">Tout parcourir</a>
                          <a href="#" class="card-link nbr-articles">1000</a>
                        </div>
                      </div>
               </div>
                <div class="col-sm-3">
                    
                    <div class="card">
                        <div class="card-body"> 
                                <div class="text-icon">
                                    <a href="#">
                                        
                                        <i class="fa-sharp fa-solid fa-tv icon"></i>
                                    <h5 class="card-title">Multimedia</h5>
                                    </a>
                                </div>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Ordinateurs</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Téléphones</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Accessoires multimédia</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">TV & home cinéma</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Jeux vidéos & consoles</a></h6>
                            <a href="#" class="card-link tout-parcourir">Tout parcourir</a>
                            <a href="#" class="card-link nbr-articles">1000</a>
                        </div>
                      </div>
               </div>
        </div>
        {# ligne 2 #}
        <div class="row categories-list ">
                <div class="col-sm-3">
                    
                    <div class="card">
                        <div class="card-body"> 
                                <div class="text-icon">
                                    <a href="#">
                                        
                                        <i class="fa-solid fa-house icon"></i>
                                    <h5 class="card-title">Maison</h5>
                                    </a>
                                </div>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Mobilier</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Electromenager</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Décoration, linge de maison</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Vaisselle</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Jardinage, bricolage</a></h6>
                          <a href="#" class="card-link tout-parcourir">Tout parcourir</a>
                          <a href="#" class="card-link nbr-articles">1000</a>
                        </div>
                      </div>
               </div>
                <div class="col-sm-3">
                    
                    <div class="card">
                        <div class="card-body"> 
                                <div class="text-icon">
                                    <a href="#">
                                        
                                        <i class="fa-solid fa-pen icon"></i>
                                    <h5 class="card-title">Mode & beauté</h5>
                                    </a>
                                </div>
        
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Enfant & bébé</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Parfums & produits cosmétiques</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Vêtements homme</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Vêtements femme</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Montres & bijoux</a></h6>
                          <a href="#" class="card-link tout-parcourir">Tout parcourir</a>
                          <a href="#" class="card-link nbr-articles">1000</a>
                        </div>
                      </div>
               </div>
                <div class="col-sm-3">
                    
                    <div class="card">
                        <div class="card-body"> 
                                <div class="text-icon">
                                    <a href="#">
                                        
                                        <i class="fa-solid fa-table-tennis-paddle-ball icon"></i>
                                    <h5 class="card-title">sport,loisirs & voyages</h5>
                                    </a>
                                </div>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Matériel de sport</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Vélos</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Instruments de musique</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">CDs, DVDs & livres</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Tourisme & activités</a></h6>
                          <a href="#" class="card-link tout-parcourir">Tout parcourir</a>
                          <a href="#" class="card-link nbr-articles">1000</a>
                        </div>
                      </div>
               </div>
                <div class="col-sm-3">
                    
                    <div class="card">
                        <div class="card-body"> 
                                <div class="text-icon">
                                    <a href="#">
                                        
                                        <i class="fa-solid fa-user icon"></i>
                                    <h5 class="card-title">services</h5>
                                    </a>
                                </div>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Prestations de service</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Cours particuliers</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Formations</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Objets perdus / retrouvés</a></h6>
                          <a href="#" class="card-link tout-parcourir">Tout parcourir</a>
                          <a href="#" class="card-link nbr-articles">1000</a>
                        </div>
                      </div>
               </div>
        </div>
        {# ligne 3 #}
        <div class="row categories-list ">
                <div class="col-sm-3">
                    
                    <div class="card">
                        <div class="card-body"> 
                                <div class="text-icon">
                                    <a href="#">
                                        
                                        <i class="fa-sharp fa-solid fa-handshake icon"></i>
                                    <h5 class="card-title">Demande d'emploi</h5>
                                    </a>
                                </div>
                           
                          <h6 class="card-subtitle mb-2 text-muted">
                            
                            
                            
                            </h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Autres demandes d’emploi</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Nettoyage, personnel</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Chauffeur, conducteur</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Restauration</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Nounous, garde d’enfants</a></h6>
                          <a href="#" class="card-link tout-parcourir">Tout parcourir</a>
                          <a href="#" class="card-link nbr-articles">1000</a>
                        </div>
                      </div>
               </div>
                <div class="col-sm-3">
                    
                    <div class="card">
                        <div class="card-body"> 
                                <div class="text-icon">
                                    <a href="#">
                                        
                                    <i class="fa-solid fa-screwdriver-wrench icon"></i>
                                    <h5 class="card-title">Matériaux,outils & Équipements</h5>
                                    </a>
                                </div>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Matériel pro</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Matériel de construction</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Caméras de surveillance</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Energie & groupes électrogènes</a></h6>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Equipement médical</a></h6>
                          <a href="#" class="card-link tout-parcourir">Tout parcourir</a>
                          <a href="#" class="card-link nbr-articles">1000</a>
                        </div>
                      </div>
               </div>
                <div class="col-sm-3">
                    
                    <div class="card">
                        <div class="card-body"> 
                                <div class="text-icon">
                                    <a href="#">
                                        
                                        <i class="fa-sharp fa-solid fa-truck-monster icon"></i>
                                    <h5 class="card-title">Agroalimentaire</h5>
                                    </a>
                                </div>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Alimentation</a></h6> 
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Agriculture</a></h6> 
                          <a href="#" class="card-link tout-parcourir">Tout parcourir</a>
                          <a href="#" class="card-link nbr-articles">1000</a>
                        </div>
                      </div>
               </div>
                <div class="col-sm-3">
                    
                    <div class="card">
                        <div class="card-body"> 
                                <div class="text-icon">
                                    <a href="#">
                                        
                                        <i class="fa-solid fa-paw icon"></i>
                                    <h5 class="card-title">Animaux</h5>
                                    </a>
                                </div>
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Accessoires animaux</a></h6> 
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Chiens & chiots</a></h6> 
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#"> Autres animaux</a></h6> 
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Pigeons</a></h6> 
                            <h6 class="card-subtitle mb-2 text-muted"><a href="#">Moutons</a></h6> 
                          <a href="#" class="card-link tout-parcourir">Tout parcourir</a>
                          <a href="#" class="card-link nbr-articles">1000</a>
                        </div>
                      </div>
               </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-sm-11 top-annonces">
                <h4>Top boutiques</h4>

            </div>
            <div class="col-sm-1 arrow-block ">
                    <div>
                        <h6 class="tout-voir"> Tout voir</h6> 

                    </div>
                   <div>
                       <button class="btn-arrow"><</button>
                       <button class="btn-arrow">></button>
                   </div>
            </div>
        </div>
        {# card slide 2 #}
        <div class="row mb-10 slide-2">
           <div class="col-sm-2">
            <div class="card" >
                <img src="https://plus.unsplash.com/premium_photo-1672281064814-b3020d0bf2da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                 class="card-img-top" alt="...">
             
            </div>
           </div>
           <div class="col-sm-2">
            <div class="card" >
                <img src="https://plus.unsplash.com/premium_photo-1672281064814-b3020d0bf2da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                 class="card-img-top" alt="...">
            
            </div>
           </div>
           <div class="col-sm-2">
            <div class="card">
                <img src="https://plus.unsplash.com/premium_photo-1672281064814-b3020d0bf2da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                 class="card-img-top" alt="...">
              
            </div>
           </div>
           <div class="col-sm-2">
            <div class="card" >
                <img src="https://plus.unsplash.com/premium_photo-1672281064814-b3020d0bf2da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                 class="card-img-top" alt="...">
              
            </div>
           </div>
           <div class="col-sm-2">
            <div class="card" >
                <img src="https://plus.unsplash.com/premium_photo-1672281064814-b3020d0bf2da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                 class="card-img-top" alt="...">
               
            </div>
           </div>
           <div class="col-sm-2">
            <div class="card" >
                <img src="https://plus.unsplash.com/premium_photo-1672281064814-b3020d0bf2da?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60"
                 class="card-img-top" alt="...">
               
            </div>
           </div>
          
       </div>
      
    </div>
    <div class="row esp-content">
       <div class="row">
        <h5>Développez votre business. Commencez à vendre dès aujourd'hui avec Expat-Dakar !</h5>
        <h6>Nous vous offrons des solutions adaptées à vos besoins pour vous permettre d’accélérer votre business.</h6>
       </div>
        <button type="button" class="btn btn-primary btn-lg">En savoir plus</button>
    </div>
    {# foooter  #}
    {% block foot %}
    <div class="row">
        
            <footer class="bg-light text-center">
                <!-- Grid container -->
                <div class="container-fluid all-form p-4 pb-0">
                  <!-- Section: Form -->
                  <section class="">
                    <form action="">
                      <!--Grid row-->
                      <div class="row d-flex justify-content-center">
                        <!--Grid column-->
                        <div class="col-auto">
                          <h5 class="text-light">Restez informés avec notre newsletter</h5>
                          <h6 class="text-light">Recevez notre sélection hebdomadaire des meilleures offres !</h6>
                         
                          
                        </div>
                        <!--Grid column-->
              
                        <!--Grid column-->
                        <div class="col-md-5 col-12">
                          <!-- Email input -->
                          <div class="form-outline mb-4">
                            <input type="email" id="form5Example27" class="form-control" placeholder="adresse email" />
                          </div>
                        </div>
                        <!--Grid column-->
              
                        <!--Grid column-->
                        <div class="col-auto">
                          <!-- Submit button -->
                          <button type="submit" class="btn btn-primary mb-4">
                            je m'abonne
                          </button>
                        </div>
                        <!--Grid column-->
                      </div>
                      <!--Grid row-->
                    </form>
                  </section>
                  <!-- Section: Form -->
                </div>
                <!-- Grid container -->

  
    <!-- Section: Links  -->
    <section class="all-block">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-sm-6 ">
            <!-- Content -->
           <div class="row table-1">
                <table class="table  table-borderless">
                      <tbody>
                        <tr>
                          
                          <td>
                            <a class="text-decoration-none text-light" href="#">Qui sommes-nous ?</a>
                          </td>
                          <td>
                            <a class="text-decoration-none text-light" href="#">Contact</a>
                          </td>
                          <td>
                            <a class="text-decoration-none text-light"  href="#">Vendre en ligne</a>
                          </td>
                        </tr>
                        <tr>
                       
                          <td >
                            <a class="text-decoration-none text-light"  href="#">Deals</a>
                          </td>
                          <td >
                            <a class="text-decoration-none text-light"  href="#">Blog</a>
                          </td>
                          <td>
                            <a class="text-decoration-none text-light"  href="#">Conditions et Charte d'utilisation</a>
                          </td>
                          
                         
                        </tr>
                        <tr>
                            <td colspan="3">
                                <a class="text-decoration-none text-light"  href="#">Les Boutiques</a>
                            </td>
                        </tr>
                      </tbody>    
                </table>
            
          </div>
          <div class="row table-1">
            <h6 class="text text-center">SITES INTERNATIONAUX</h6>
            <hr>
            <table class=" table table-bordeless">
               
                    <tr>
                          
                        <td>
                          <a class="text-decoration-none text-light"  href="#">ROAM</a>
                        </td>
                        <td>
                          <a class="text-decoration-none text-light"  href="#">Qefira</a>
                        </td>
                        <td>
                          <a class="text-decoration-none text-light"  href="#">Pigiame</a>
                        </td>
                      </tr>
               
            </table>
          </div>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-sm-3 ">
            <!-- Links -->
            <h6 class="text-uppercase text-center">
                TÉLÉCHARGEZ NOTRE APPLI
            </h6>
            <hr>
            <a href="https://play.google.com/store/apps/details?id=com.expat_dakar&pli=1">
                <img src="https://www.expat-dakar.com/assets/ed-site/img/app-badge/google/fr.49bcd27f.svg" alt="play store">
            </a>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-sm-3 ">
            <!-- Links -->
            <h6 class="text-uppercase text-center">SUIVRE EXPAT-DAKAR</h6>
            <hr>
           <div class="social-media">
            <a href="" class="me-4 link-secondary">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fa-brands fa-twitter"></i>
            </a>
            
            <a href="" class="me-4 link-secondary">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="" class="me-4 link-secondary">
                <i class="fa-brands fa-linkedin"></i>
            </a>
        
            </div>
            
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
  
              
                <!-- Copyright -->
                <div class="text-start p-3" style="background-color: black; color:white;">
                    Tous droits réservés © 2016-2023 Expat-Dakar
                </div>
                <!-- Copyright -->
              </footer>
    
        
            </div>
        {% endblock foot %}
</div>

{% endblock content_user %}