<div class="row mt-2 mb-3" style="background-color: #f1f1f1;">
    <h3 class="mt-2">Conseils de sécurité</h3>
    <ul class="ms-4">
        <li>Ne payez pas d’avance, même pour la livraison</li>
        <li>Rencontrez le vendeur dans un lieu public sûr.</li>
        <li>Inspectez l’article et assurez-vous que c’est exactement ce que vous voulez.</li>
        <li>Assurez-vous que l’article emballé est celui que vous avez inspecté.</li>
        <li>Ne payez que si vous êtes satisfait</li>
    </ul>
    <a href=""style="color: #f0811d;" class="text-decoration-none mb-2">
        Lisez nos conseils de sécurité
    </a>
</div>